.anim-fast {
	animation-duration: .3s;
	-webkit-animation-duration: .3s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.anim-medium {
	animation-duration: .6s;
	-webkit-animation-duration: .6s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.anim-slow {
	animation-duration: 1.2s;
	-webkit-animation-duration: 1.2s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
@keyframes cloudsFloating {
	from {
		background-position: left;
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	to {
		opacity: 0;
		background-position: right;
	}
}
@-webkit-keyframes cloudsFloating {
	from {
		background-position: left;
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	to {
		opacity: 0;
		background-position: right;
	}
}

@-webkit-keyframes fadeIn1 {
	from {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn1 {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100px, 0);
		transform: translate3d(0, 100px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInUp1 {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100px, 0);
		transform: translate3d(0, 100px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp1 {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100px, 0);
		transform: translate3d(0, 100px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInUp1 {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown1 {
	from {
		opacity: 0;
		-webkit-transform: translate(-50%, -150%);
		-moz-transform: translate(-50%, -150%);
		-ms-transform: translate(-50%, -150%);
		-o-transform: translate(-50%, -150%);
		transform: translate(-50%, -150%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

@keyframes fadeInDown1 {
	from {
		opacity: 0;
		-webkit-transform: translate(-50%, -150%);
		-moz-transform: translate(-50%, -150%);
		-ms-transform: translate(-50%, -150%);
		-o-transform: translate(-50%, -150%);
		transform: translate(-50%, -150%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
/**/
@-webkit-keyframes fadeOutUp1 {
	from {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	100% {
		opacity: 0;
		-webkit-transform: translate(-50%, -150%);
		-moz-transform: translate(-50%, -150%);
		-ms-transform: translate(-50%, -150%);
		-o-transform: translate(-50%, -150%);
		transform: translate(-50%, -150%);
	}
}

@keyframes fadeOutUp1 {
	from {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	100% {
		opacity: 0;
		-webkit-transform: translate(-50%, -150%);
		-moz-transform: translate(-50%, -150%);
		-ms-transform: translate(-50%, -150%);
		-o-transform: translate(-50%, -150%);
		transform: translate(-50%, -150%);
	}
}

@-webkit-keyframes lightbox-holder-open {
	from {
		background-color: rgba(0, 0, 0, .0);
	}

	100% {
		background-color: rgba(0, 0, 0, .6);
	}
}
@keyframes lightbox-holder-open {
	from {
		background-color: rgba(0, 0, 0, .0);
	}

	100% {
		background-color: rgba(0, 0, 0, .6);
	}
}

@-webkit-keyframes lightbox-holder-close {
	from {
		background-color: rgba(0, 0, 0, .6);
	}

	100% {
		background-color: rgba(0, 0, 0, 0);
	}
}
@keyframes lightbox-holder-close {
	from {
		background-color: rgba(0, 0, 0, .6);
	}

	100% {
		background-color: rgba(0, 0, 0, 0);
	}
}

@-webkit-keyframes fadeScaleIn1 {
	from {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(0.7);
		-ms-transform: translate(-50%, -50%) scale(0.7);
		-o-transform: translate(-50%, -50%) scale(0.7);
		transform: translate(-50%, -50%) scale(0.7);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(1);
		-ms-transform: translate(-50%, -50%) scale(1);
		-o-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
}
@keyframes fadeScaleIn1 {
	from {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(0.7);
		-ms-transform: translate(-50%, -50%) scale(0.7);
		-o-transform: translate(-50%, -50%) scale(0.7);
		transform: translate(-50%, -50%) scale(0.7);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(1);
		-ms-transform: translate(-50%, -50%) scale(1);
		-o-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}
}

@-webkit-keyframes fadeScaleOut1 {
	from {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(1);
		-ms-transform: translate(-50%, -50%) scale(1);
		-o-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(0.7);
		-ms-transform: translate(-50%, -50%) scale(0.7);
		-o-transform: translate(-50%, -50%) scale(0.7);
		transform: translate(-50%, -50%) scale(0.7);
	}
}
@keyframes fadeScaleOut1 {
	from {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(1);
		-ms-transform: translate(-50%, -50%) scale(1);
		-o-transform: translate(-50%, -50%) scale(1);
		transform: translate(-50%, -50%) scale(1);
	}

	100% {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(0.7);
		-ms-transform: translate(-50%, -50%) scale(0.7);
		-o-transform: translate(-50%, -50%) scale(0.7);
		transform: translate(-50%, -50%) scale(0.7);
	}
}

.lightbox-holder {
	-webkit-animation: lightbox-holder-open ease-out .4s;
	animation: lightbox-holder-open ease-out .4s;

	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.intro-animation {
	opacity: 0;
	-webkit-transform: translate3d(0, 100px, 0);
	transform: translate3d(0, 100px, 0);

	-webkit-animation: fadeInUp1 ease-out .4s;
	animation: fadeInUp1 ease-out .4s;

	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
button.type-1 {
	-webkit-animation-delay: .9s;
	animation-delay: .9s;
}
section.current-sales {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
	position: relative;
}

/* INTRO ANIMATION */

@-webkit-keyframes scaleYIn {
	from {
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}

	100% {
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}
@keyframes scaleYIn {
	from {
		-webkit-transform: scale(1, 0);
		-ms-transform: scale(1, 0);
		-o-transform: scale(1, 0);
		transform: scale(1, 0);
	}

	100% {
		-webkit-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

.scaleYIn {
	-webkit-transform: scale(1, 0);
	-ms-transform: scale(1, 0);
	-o-transform: scale(1, 0);
	transform: scale(1, 0);

	-webkit-animation: scaleYIn ease-out .4s;
	animation: scaleYIn ease-out .4s;

	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-timing-function: cubic-bezier(0.43, 0.52, 0.73, 1.39);
	animation-timing-function: cubic-bezier(0.43, 0.52, 0.73, 1.39);
}
.anim-delay-1 {
	-webkit-animation-delay: .1s;
	animation-delay: .1s;
}
.anim-delay-2 {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}
.anim-delay-3 {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}
.anim-delay-4 {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}
.anim-delay-5 {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.anim-delay-6 {
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
}
.anim-delay-7 {
	-webkit-animation-delay: .7s;
	animation-delay: .7s;
}
.anim-delay-8 {
	-webkit-animation-delay: .8s;
	animation-delay: .8s;
}