/* TEMP */
.grid-overlay {
	/* display: none; */
	background: url('../img/bg/grid.png') 50% 0 repeat-y;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: .3;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}
.main-overlay {
	/* display: none; */
	-webkit-filter: invert(100%);
	opacity: .5;
	/* opacity: 1; */
	background: url('../img/bg/a-avia-inner.png') 50% 0 no-repeat;
	bottom: 0;
	height: 1200px;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}
.overlay-button {
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: .2;
	padding: 10px;
	z-index: 999;
}
.overlay-button:hover {
	opacity: 1;
}
#main-overlay {
	right: 40px;
}
#grid-overlay {}

/* GLOBAL */
.arrows-holder-1 {
	text-align: center;
	margin-top: 22px;
	margin-bottom: 6px;
}
body {
	font-family: ProximaNova, sans-serif;
}
.page-wrapper {
	/* background-image: url('../img/bg/main-bg.jpg'); */
	/*-webkit-background-size: cover;*/
	/*background-size: cover;*/
}
.content-wrapper {
	background-image: url('../img/bg/triangles.png');
	position: relative;
}
.content-wrapper > #clouds-bg {
	background-image: url('../img/bg/clouds.png');
	position: absolute;
	height: 100%;
	width: 100%;
	animation: cloudsFloating 80s linear;
	animation-iteration-count: 99;
	-webkit-animation: cloudsFloating 80s linear;
	-webkit-animation-iteration-count: 99;
	z-index: 0;
}
header.main-header {
	background-color: #ffa857;
}
header.main-header .main-logo-holder {
	margin-left: 80px;
	margin-top: 14px;
	display: inline-block;
}
header.main-header .main-logo-holder img {
	margin: 0;
	line-height: 0;
}
header.main-header .main-logo-holder span {
	color: #b26c2b;
	font-size: 11px;
	font-weight: 400;
	margin: 0;
	line-height: 0;
	display: block;
	margin-left: 46px;
	margin-top: 3px;
}
header.main-header .my-profile-link-holder {
	margin-top: 13px;
	margin-left: 114px;
}
header.main-header .my-profile-link-holder img {
	margin-right: 5px;
	margin-top: -2px;
}
header.main-header .my-profile-link-holder span {
	color: black;
	font-size: 14px;
	font-weight: 300;
	line-height: 36px;
	text-transform: uppercase;
}
header.main-header .header-phone-holder {
	margin-left: 74px;
	margin-top: 2px;
}
header.main-header .header-phone-holder .phone-number {
	color: black;
	display: inline-block;
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;
	vertical-align: top;
	margin-top: 20px;
}
header.main-header .header-phone-holder .call-back {
	color: #b26c2b;
	display: block;
	font-size: 11px;
	font-weight: 300;
	/*line-height: 36px;*/
	line-height: 1em;
	text-transform: none;
	text-decoration: underline;
}
.operators-list {
	display: inline-block;
	height: 58px;
	vertical-align: middle;
}
.operators-list li {
	color: #80542c;
	font-size: 14px;
	font-weight: 300;
	height: 15px;
}
.operators-list li .operator-icon {
	margin-right: 4px;
}
.operators-list li .operator-icon > * {
	vertical-align: middle;
	margin-right: 2px;
}
.operators-list li .operator-icon > img.mts {
	position: relative;
	top: 1px;
}
section.main-form {
	padding-top: 50px;
}
section.main-form .container > .row {
	text-align: center;
}
section.main-form .main-input-holder {
	background-color: #ffffff;
	cursor: pointer;
	display: inline-block;
	margin: 0 14px 30px;
	position: relative;
	height: 60px;
	/*float: left;*/
	vertical-align: top;
	text-align: left;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 0px 48px rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 0px 48px rgba(0,0,0,0.1);
}
section.main-form .main-input-holder.big {
	width: 366px;
	margin: 0 14px 30px;
}
section.main-form .main-input-holder.small {
	width: 206px;
}
section.main-form .main-input-holder.middle {
	width: 286px;
}
section.main-form .main-input-holder:before {
	content: "";
	background-image: url('../img/icons/input-left.png');
	position: absolute;
	top: 0;
	height: 60px;
	width: 7px;
	left: -7px;
}
section.main-form .main-input-holder::after {
	content: "";
	background-image: url('../img/icons/input-right.png');
	position: absolute;
	top: 0;
	height: 60px;
	width: 7px;
	right: -7px;
}
section.main-form .main-input-holder .illustration-holder {
	float: left;
	height: 60px;
	position: relative;
	width: 46px;
}
section.main-form .main-input-holder .illustration-holder .input-illustration {
	left: 50%;
	position: absolute;
	top: 50%;
	vertical-align: middle;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
section.main-form .main-input-holder .text-holder {
	overflow: hidden;
	padding-left: 6px;
}
section.main-form .main-input-holder.big .text-holder {
	padding-right: 30px;
}
section.main-form .main-input-holder .input-name {
	color: #7a0fad;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	margin-top: 8px;
}
section.main-form .main-input-holder .input-state {
	color: black;
	font-size: 14px;
	font-weight: 300;
	line-height: 36px;
}
section.main-form .main-input-holder .canopen-illustration {
	position: absolute;
	right: 1px;
	bottom: 8px;
}
section.main-form .main-input-holder .input-label {
	color: #bdcfe7;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	margin-top: 5px;
}
section.main-form .main-input-holder .input-holder input {
	border: none;
}
section.main-form .main-input-holder .promocode-input-holder {
	position: relative;
}
section.main-form .main-input-holder .promocode-input-holder input.promocode-input {
	border: none;
	display: block;
	position: absolute;
	left: 50px;
	top: 5px;
	padding: 0;
}
section.main-form .main-input-holder .promocode-input-holder input.promocode-input::-webkit-input-placeholder {
	color: #bdcfe7;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
section.main-form .main-input-holder .promocode-input-holder input.promocode-input::-moz-placeholder {
	color: #bdcfe7;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
section.main-form .main-input-holder .promocode-input-holder input.promocode-input:-moz-placeholder {
	color: #bdcfe7;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
section.main-form .main-input-holder .promocode-input-holder input.promocode-input:-ms-input-placeholder {
	color: #bdcfe7;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}
section.main-form .main-input-holder .date-holder {
	font-size: 14px;
	line-height: 14px;
	margin-left: -1px;
}
section.main-form .main-input-holder .date-holder .date-wrapper {
	overflow: hidden;
}
section.main-form .main-input-holder .date-holder .date-day {
	font-size: 32px;
	line-height: 32px;
	float: left;
	margin-right: 8px;
}
section.main-form .main-input-holder .date-holder .date-month-year {}
section.main-form .main-input-holder .date-holder .date-week {
	color: #526073;
}
section.main-form .main-input-holder.promocode-button-holder .input-name {
	padding-left: 52px;
}

.sales-items {
	text-align: center;
}
.sales-items .sales-item {
	background-color: #fff;
	color: #fff;
	display: inline-block;
	margin: 0 28px 20px;
	position: relative;
	text-align: left;
	width: 220px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px rgba(0,0,0,0.12);
}
.sales-items .sales-item .illustration .image-holder:after {
	background-color: rgba(0, 0, 0, .4);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.sales-items .sales-item p {
	color: #526073;
	font-size: 14px;
	line-height: 20px;
	padding: 14px 20px 26px;
}
.sales-items .sale-name {
	position: absolute;
	top: 0;
	left: 10px;
	color: white;
	font-size: 16px;
	font-weight: 300;
	line-height: 38px;
}
.sales-items .sale-name i {
	margin: 0 2px;
}
.sales-items .price-info {
	background-repeat: repeat;
	font-size: 24px;
	font-weight: 100;
	padding: 3px 8px;
	position: absolute;
	right: -4px;
	top: 78px;
}
.sales-items .price-info.type-1 {
	background: #7a0fad url('../img/bg/pattern-main.png');
}
.sales-items .price-info.type-2 {
	background: #ff4cc2 url('../img/bg/pattern-main.png');
}
section.current-sales {
	margin-top: 55px;
}
section.current-sales h4 {
	margin-bottom: 38px;
	text-align: center;/* Text style for "Действующие ак" */
	color: black;
	font-weight: 300;
	font-size: 32px;
}
section.current-sales h4 span {
	position: relative;
}
section.current-sales h4 span:before,
section.current-sales h4 span:after {
	background-image: url('../img/icons/wings.png');
	content: "";
	position: absolute;
	top: 10px;
	height: 48px;
	width: 110px;
}
section.current-sales h4 span:before {
	left: -116px;
	background-position: 0 0;
}
section.current-sales h4 span:after {
	right: -116px;
	background-position: 110px 0;
}
section.information-block-1 {
	padding-bottom: 68px;
	text-align: center;
}
section.information-block-1 .container {
	max-width: 474px;
}
section.information-block-1 h5 {
	color: black;
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	margin-bottom: 14px;
}
section.information-block-1 p {
	color: #526073;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin-bottom: 9px;
}
footer.main-footer {
	background-color: #211b36;
	color: #ffffff;
}
footer.main-footer .copyright-holder {
	font-size: 14px;
	text-align: center;
	line-height: 38px;
}
footer.main-footer .payment-systems-holder {
	margin-left: 80px;
	margin-top: 6px;
}
footer.main-footer .payment-systems-holder a {
	margin-right: 14px;
}
footer.main-footer .about-link-holder {
	text-align: right;
	line-height: 38px;
	padding-right: 78px;
}
footer.main-footer .about-link-holder a {
	color: #c328e7;
	font-size: 14px;
}

/* TICKETS-PAGE */
section.tickets-way {
	background-color: #37404d;
	color: white;
	font-size: 18px;
}
section.tickets-way .container {
	max-width: 780px;
	padding-top: 11px;
	padding-bottom: 14px;
}
section.tickets-way .way-header {}
section.tickets-way .way-header p {
	line-height: 24px;
}
section.tickets-way .date-holder {
	float: right;
	font-weight: 300;
}
section.tickets-way .date-holder .date-wrapper {
	overflow: hidden;
	margin-top: 6px;
}
section.tickets-way .date-holder .date-day {
	line-height: 32px;
	float: left;
	margin-right: 8px;
	margin-top: 13px;
	font-size: 42px;
	font-weight: 300;
}
section.tickets-way .date-holder .date-month-year {
	line-height: 1em;
	position: relative;
}
section.tickets-way .date-holder .date-week {
	color: #bbcde6;
	line-height: 1em;
	margin-top: 3px;
}

section.tickets-holder {}
section.tickets-holder .ticket {
	margin-top: 30px;
}
section.tickets-holder .ticket-header {
	background: white url('../img/bg/pattern-3.png');
	-webkit-box-shadow: 0 1px 0 #bbcde6;
	box-shadow: 0 1px 0 #bbcde6;
}
section.tickets-holder .ticket-header .radio.form-group {
	display: inline-block;
}
section.tickets-holder .ticket-header .basic-info {
	display: inline-block;
}
section.tickets-holder .ticket-header .basic-info > span {
	line-height: 49px;
}
section.tickets-holder .ticket-header .tickets-left {
	color: #7a0fad;
	font-size: 14px;
	font-weight: 300;
	margin-right: 20px;
}
section.tickets-holder .ticket-header .price {
	background-color: #ff4cc2;
	color: white;/* Text style for "450$" */
	font-size: 32px;
	font-weight: 300;
	line-height: 49px;
}
section.tickets-holder .ticket-info-group {}
section.tickets-holder .ticket-footer {}
section.bottom-tickets-nav {
	background-color: #37404d;
	color: white;
}
section.bottom-tickets-nav a.back {
	color: #a1c8fc;
}
/* END TICKETS-PAGE */