/*Так уж вышло, что чтоб уместить всю информацию красиво, нужно сделать все без отступов...*/
/*
	LARGE
*/
@media screen and (min-width: 1440px) {
	.container {
		width: 1180px;
		width: 940px;
		z-index: 0;
		margin: 0 auto;
	}
}
/*------------------------------------------------------------------------------
	MEDIUM
------------------------------------------------------------------------------*/
@media screen and (max-width: 1439px) {
	.container {
		width: 940px;
	}
	h1 {
	}
}
/*--------------------------------------------------------------------------
	TABLET
--------------------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
	body::-webkit-scrollbar {
		background-color: #fff;
		border: none;
		height: 0;
		width: 0;
	}
	.animated {
		-webkit-transform: none;
		transform: none;
	}
	h1 {
		font-size: 25px;
	}
	.container {
		width: 720px;
	}
	.dropdown .dropdown-menu {
		max-width: 720px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		/*width: 100%;*/
	}
	.content-wrapper > #clouds-bg {
		display: none;
	}
	.dropdown {
	}
	.wrapper {
		overflow: hidden;
	}
	.lightbox {
		padding: 0;
		width: 75%;
	}

	.left-col,
	.right-col {
		float: none;
		text-align: center;
	}
	.info-block {
		overflow: hidden;
		padding: 0 20px;
	}
	.page-content {
		width: 100%;
	}
	.preloader .form-block {
		
	}
	.preloader .current-sales {
		display: none;
	}
	.order-form .container {
		width: 100%;
	}
	.order-form .special-label-1 {
		position: static;
		margin-top: 10px;
		width: auto;
	}
	.order-form .form-group {
		display: block;
		margin: 10px 0 14px;
	}
	.order-form .mobile-phone .intl-tel-input,
	.order-form .form-group input {
		width: 100%;
	}
	.order-form .form-group.pull-right {
		float: none;
	}
	footer.main-footer .payment-systems-holder,
	header.main-header .header-phone-holder,
	header.main-header .main-logo-holder {
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}
	section.tickets-way {
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		overflow: hidden;
	}
	section.tickets-way .way-header,
	section.tickets-way .date-holder {
		display: block;
		float: none;
		white-space: normal;
		max-width: initial;
	}
	section.tickets-way .way-header p {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	section.tickets-way .date-holder {
		display: none;
	}
	section.tickets-way .date-holder .date-day {
		display: inline-block;
		margin: 10px 0 0;
		float: none;
	}
	header.main-header .main-logo-holder img {
		width: 158px;
	}
	header.main-header .main-logo-holder {
		/*display: block;*/
		text-align: left;
		vertical-align: top;
	}
	header.main-header .mobile-icon > span {
		display: block;
		text-align: center;
	}
	footer.main-footer .payment-systems-holder a {
		margin-left: 7px;
		margin-right: 7px;
	}
	section.bottom-tickets-nav {
		margin-top: 40px;
	}
	section.bottom-tickets-nav .container {
		/*margin-left: -10px;*/
	}
	section.bottom-tickets-nav a.back {
		padding-left: 22px;
	}

	/* TICKET */

	section.tickets-holder .ticket {
		/*line-height: 1em;*/
	}

	section.tickets-holder .ticket-info-group .flight {
		display: block;
		text-align: left;
		margin-bottom: 20px;
		padding-left: 0;
		width: auto;
	}
	section.tickets-holder .ticket-header .price {
		display: block;
		border-radius: 0;
	}
	section.tickets-holder .ticket-header .radio input[type="radio"]:not(:checked) + label,
	section.tickets-holder .ticket-header .radio input[type="radio"]:checked + label {
		margin-left: 0;
	}
	section.bottom-tickets-nav button.type-2 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	section.tickets-holder .ticket-header {
		text-align: left;
	}

	section.tickets-holder .ticket-footer {
		cursor: pointer;
		padding-left: 0;
		text-align: center;
	}
	section.tickets-holder .ticket-footer span {
		display: none;
	}
	section.tickets-holder .ticket-footer img {
		display: inline-block;
		width: 14px;
	}
	section.tickets-holder .ticket-header .basic-info {
		padding-left: 20px;
	}
	section.tickets-holder .ticket-header .tickets-left {
		display: none;
		line-height: 20px;
		margin-bottom: 20px;
	}
	section.tickets-holder .ticket-info-group {
		overflow: hidden;
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		-webkit-transition: height .3s, padding .3s;
		transition: height .3s, padding .3s;
	}
	section.tickets-holder .ticket.opened .ticket-info-group {
		overflow: visible;
		height: auto;
		padding-top: 20px;
		padding-bottom: 20px;
		-webkit-transition: height .3s, padding .3s;
		transition: height .3s, padding .3s;
	}
	section.tickets-holder .ticket.opened .ticket-footer img {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	section.tickets-holder .ticket-info-group .flight,
	section.tickets-holder .ticket-info-group .time-direction,
	section.tickets-holder .ticket-info-group .time-direction .time-direction-item,
	section.tickets-holder .ticket-info-group .company,
	section.tickets-holder .ticket-info-group .plane,
	section.tickets-holder .ticket-info-group .ticket-class {
		display: block;
		text-align: left;
		margin-bottom: 20px;
		padding-left: 20px;
		width: auto;
	}

	/* END TICKET */

	/* USER-BLOCK */
	.autorization-block,
	.order-form .user-block {
		padding-left: 20px;
		padding-right: 20px;
		margin: auto;
		width: 320px;
	}
	/* END USER-BLOCK */
	.payment-way {
		/*text-align: center;*/
		margin-top: 0;
	}
	.payment-way li {
		display: block;
		margin: 0 auto 40px;
		width: 100%;
	}
	.private-page .form-group.pull-right {
		float: none;
		margin-right: 20px;
	}
}
/*
	MOBILE
*/
@media screen and (max-width: 780px) {
	.container,
	.mobile-header-holder {
		width: 100%;
	}
	.mobile-hidden {
		display: none !important;
	}
	.mobile-visible {
		display: inherit !important;
	}
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		animation: none !important;
	}
	.settings-page button.type-1 {
		width: 220px;
	}
	.page-content {
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.page-content li {
		margin-left: 30px;
	}
	.page-content li .counter {
		font-size: 14px;
		top: 3px;
		left: -33px;
		line-height: 22px;
		height: 20px;
		width: 20px;
	}
	.page-content h2 {
		font-size: 26px;
		line-height: 32px;
	}
	.page-content h3 {
		font-size: 20px;
		line-height: 32px;
		margin-top: 40px;
	}
	.page-content p {
		font-size: 16px;
		line-height: 22px;
	}
	.page-content p.grand {
		font-size: 16px;
		line-height: 22px;
	}
	.page-content .btn.type-1,
	.page-content button.type-1 {
		width: 260px;
	}
	section.main-form .main-input-holder.promocode-button-holder .input-name {
		padding-top: 8px;
	}
	button.type-1,
	section.main-form .main-input-holder.small,
	section.main-form .main-input-holder.big,
	section.main-form .main-input-holder {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 290px;
	}
	.btn.type-1, button.type-1 {
		width: 302px;
	}
	section.information-block-1 .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	header.main-header {
		/*padding-bottom: 10px;*/
	}
	header.main-header .header-phone-holder {
		margin-bottom: 20px;
	}
	header.main-header .my-profile-link-holder,
	header.main-header .header-phone-holder,
	header.main-header .my-profile-link-holder span,
	header.main-header .main-logo-holder span {
		display: none;
	}
	header.main-header .mobile-icon {
		display: inline-block;
	}
	section.current-sales h4 span:before, section.current-sales h4 span:after {
		display: none;
		position: static;
	}

	/* CALENDAR */
	.ui-datepicker {
		-webkit-transform: translate(-8px, 19px);
		transform: translate(-8px, 19px);
		width: 305px;
	}

	/* TICKETS */
	section.tickets-holder .ticket {
		position: relative;
		margin-left: 5px;
		margin-right: 5px;
/*		padding-left: 15px;
		padding-right: 15px;*/
	}
	section.tickets-holder .ticket-header .radio.form-group {
		position: absolute;
		left: -10px;
		top: 4px;
	}
	section.tickets-holder .ticket-header .radio input[type="radio"]:not(:checked) + label:before, section.tickets-holder .ticket-header .radio input[type="radio"]:checked + label:before {
		height: 17px;
		width: 17px;
	}
	section.tickets-holder .ticket-header .radio input[type="radio"]:not(:checked) + label:after, section.tickets-holder .ticket-header .radio input[type="radio"]:checked + label:after {
		top: 8px;
		left: 6px;
	}
	.radio input[type="radio"]:not(:checked) + label:after, .radio input[type="radio"]:checked + label:after {
		height: 9px;
		width: 9px;
	}
	section.tickets-holder .ticket-header .basic-info > span {
		font-weight: 100;
	}
	section.tickets-holder .ticket-header {
		/* text-align: left; */
	}

	/* MAIL-SENT */
	.mail-sent {
		
	}
	.mail-sent .container {
		padding-top: 20px;
	}
	.mail-sent .container p {
		font-size: 28px;
		line-height: 1.5em;
		padding-left: 20px;
		padding-right: 20px;
	}
	/* END MAIL-SENT */
}
/*
	SMALL
*/
@media screen and (max-width: 480px) {
	.container,
	.mobile-header-holder {
		width: 100%;
	}
	h1 {
		font-size: 32px;
	}
	.private-page .content-wrapper .container {
		padding: 0 50px;
	}
	section.bottom-tickets-nav .container {
		margin-left: -10px;
	}
	.callback-modal .modal-dialog {
		overflow: auto;
	}
	.callback-modal .modal-dialog {
		height: 100%;
		width: 100%;
	}
}
