
/*
	LARGE
*/
@media screen and (min-width: 1440px) {
	.container {
		width: 1180px;
		width: 940px;
		z-index: 0;
		margin: 0 auto;
	}
}
/*------------------------------------------------------------------------------
	MEDIUM
------------------------------------------------------------------------------*/
@media screen and (max-width: 1439px) {
	.container {
		width: 940px;
	}
	h1 {
	}
}
/*--------------------------------------------------------------------------
	TABLET
--------------------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
	body::-webkit-scrollbar {
		background-color: #fff;
		border: none;
		height: 0;
		width: 0;
	}
	.animated {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.container {
		width: 720px;
	}
	.dropdown .dropdown-menu {
		max-width: 720px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		/*width: 100%;*/
	}
	.dropdown {
	}
	.wrapper {
		overflow: hidden;
	}
	.lightbox {
		padding: 0;
		width: 75%;
	}

	footer.main-footer .about-link-holder a,
	footer.main-footer .about-link-holder,
	footer.main-footer .payment-systems-holder,
	header.main-header .header-phone-holder,
	header.main-header .main-logo-holder {
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}
	.left-col,
	.right-col {
		float: none;
		text-align: center;
	}
	header.main-header .header-phone-holder {
		margin-bottom: 20px;
	}
	section.tickets-way {
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}
	section.tickets-way .way-header,
	section.tickets-way .date-holder {
		display: block;
		float: none;
	}
	section.tickets-way .date-holder .date-day {
		display: inline-block;
		margin: 10px 0 0;
		float: none;
	}
	header.main-header .main-logo-holder {
		display: block;
	}
	footer.main-footer .payment-systems-holder a {
		margin-left: 7px;
		margin-right: 7px;
	}

	/* TICKET */

	section.tickets-holder .ticket {
		/*line-height: 1em;*/
	}
	section.tickets-holder .ticket-info-group .flight {
		display: block;
		text-align: center;
		margin-bottom: 20px;
		padding-left: 0;
		width: auto;
	}
	section.tickets-holder .ticket-info-group .time-direction {
		display: block;
		margin-bottom: 20px;
		text-align: center;
		width: auto;
	}
	section.tickets-holder .ticket-info-group .time-direction .time-direction-item {
		display: block;
		margin-bottom: 20px;
		text-align: center;
		margin-bottom: 16px;
	}
/*	section.tickets-holder .ticket-info-group .time-direction .time-direction-item.flydown {
		display: block;
		text-align: center;
		margin-bottom: 13px;
	}*/
	section.tickets-holder .ticket-info-group .company {
		display: block;
		margin-bottom: 20px;
		text-align: center;
		width: auto;
	}
	section.tickets-holder .ticket-info-group .plane {
		display: block;
		margin-bottom: 20px;
		text-align: center;
		width: auto;
	}
	section.tickets-holder .ticket-info-group .ticket-class {
		display: block;
		margin-bottom: 26px;
		text-align: center;
		width: auto;
	}
	section.tickets-holder .ticket-header {
		text-align: center;
	}
	section.tickets-holder .ticket-header .price {
		display: block;
		border-radius: 0;
	}
	section.tickets-holder .ticket-header .tickets-left {
		line-height: 20px;
		margin-bottom: 20px;
	}
	section.tickets-holder .ticket-header .radio input[type="radio"]:not(:checked) + label,
	section.tickets-holder .ticket-header .radio input[type="radio"]:checked + label {
		margin-left: 0;
	}
	section.bottom-tickets-nav button.type-2 {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	/* END TICKET */

}
/*
	MOBILE
*/
@media screen and (max-width: 780px) {
	.container,
	.mobile-header-holder {
		width: 100%;
	}
	.mobile-hidden {
		display: none !important;
	}
	.mobile-visible {
		display: inherit !important;
	}
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		animation: none !important;
	}
	section.main-form .main-input-holder.promocode-button-holder .input-name {
		padding-top: 8px;
	}
	button.type-1,
	section.main-form .main-input-holder.small,
	section.main-form .main-input-holder.big,
	section.main-form .main-input-holder {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 290px;
	}
	section.information-block-1 .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	header.main-header .my-profile-link-holder,
	header.main-header .header-phone-holder,
	header.main-header .my-profile-link-holder span,
	header.main-header .main-logo-holder span {
		display: none;
	}
	section.current-sales h4 span:before, section.current-sales h4 span:after {
		display: none;
		position: static;
	}

	/* CALENDAR */
	.ui-datepicker {
		-webkit-transform: translate(-8px, 19px);
		transform: translate(-8px, 19px);
		width: 305px;
	}

	/* TICKETS */
	section.tickets-holder .ticket {
		position: relative;
		margin-left: 5px;
		margin-right: 5px;
/*		padding-left: 15px;
		padding-right: 15px;*/
	}
	section.tickets-holder .ticket-header .radio.form-group {
		position: absolute;
		left: -10px;
		top: 4px;
	}
	section.tickets-holder .ticket-header .radio input[type="radio"]:not(:checked) + label:before, section.tickets-holder .ticket-header .radio input[type="radio"]:checked + label:before {
		height: 17px;
		width: 17px;
	}
	section.tickets-holder .ticket-header .radio input[type="radio"]:not(:checked) + label:after, section.tickets-holder .ticket-header .radio input[type="radio"]:checked + label:after {
		top: 8px;
		left: 6px;
	}
	.radio input[type="radio"]:not(:checked) + label:after, .radio input[type="radio"]:checked + label:after {
		height: 9px;
		width: 9px;
	}
	section.tickets-holder .ticket-header .basic-info > span {
		font-weight: 100;
	}
	section.tickets-holder .ticket-header {
		/* text-align: left; */
	}
}
/*
	SMALL
*/
@media screen and (max-width: 480px) {
	.container,
	.mobile-header-holder {
		width: 100%;
	}
}
